<%- include("partials/header.ejs", {title: filmData.title}) %>

<main class="page-container film-page">
  <div class="left">
    <%- include("partials/menu.ejs") %>
  </div>
  <div class="right">
    <%- include("partials/search.ejs") %>
    <div class="banner">
      <img src="<%= filmData.banner_src %>" alt="<%= filmData.title %>">
    </div>
    <div class="film-infos">
      <div class="film-infos__left">
        <h2><%= filmData.title %></h2>
        <div class="film-infos-full">
          <div class="original-title"><span>Original title : </span> <%= filmData.original_title %></div>
          <div class="duration"><span>Duration : </span><%= filmData.duration %> minutes</div>
          <div class="release-date"><span>Release date : </span><%= filmData.release_date %></div>
          <div class="director"><span>Director :</span> <%= filmData.director %></div>
        </div>
        <div class="description"><p><%= filmData.description %></p></div>
        <a href="/"><button>Return to home</button></a>
      </div>
      <div class="film-infos__right">
        <img src="<%= filmData.image_src %>" alt="<%= filmData.title %>">
      </div>
    </div>


  </div>
</main>

<%- include("partials/footer.ejs") %>
