<%- include("partials/header.ejs", {title: filmData.title}) %>

<main class="page-container film-page">
  <div class="left">
    <%- include("partials/menu.ejs") %>
  </div>
  <div class="right">
    <%- include("partials/search.ejs") %>
    <div class="banner">
      <img src="<%= filmData.banner_src %>" alt="<%= filmData.title %>">
    </div>
    <div class="film-infos">
      <div class="film-infos__left">
        <h2><%= filmData.title %></h2>
        <div class="film-infos-full">
          <div class="original-title">Original title : <span><%= filmData.original_title %></span></div>
          <div>Duration : <span class="duration"><%= filmData.duration %></span></div>
          <div class="release-date">Release date : <span><%= filmData.release_date %></span></div>
          <div class="director">Director : <span><%= filmData.director %></span></div>
        </div>
        <div class="description"><p><%= filmData.description %></p></div>
        <a href="/"><button>Return to home</button></a>
      </div>
      <div class="film-infos__right">
        <img src="<%= filmData.image_src %>" alt="<%= filmData.title %>">
      </div>
    </div>


  </div>
</main>
<script src="/js/film.js"></script>

<%- include("partials/footer.ejs") %>
